<h1>Tipų sąrašas</h1>
<a href="/tipas">Naujas</a>
<ul>
  {{#each tipai}}
  <li><a href="/tipas/{{id}}">{{pavadinimas}}</a> <a href="/tipas/{{id}}/del">X</a></li>
  {{/each}}
</ul>
<a href="/">Pagrindinis</a>
